@{
    ViewData["Title"] = "Creditos";
}

<div class="text-center">
    <h1 class="display-4">Créditos</h1>
    <p>Engenharia Informática / Desenvolvimento Web / 2º Ano</p>
    <p>Martim Santos nº 24235
        Diogo Moinhá nº 23040
    </p>
</div>
